<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Version" value="11" />
    <add key="Owner" value="Orengo-Demarzi" />
    <add key="Default_conf" value="False" />
    <add key="debug_mode" value="False" />
    <add key="Lang" value="English" />
    <add key="BackColor" value="Blue" />
    <add key="Weight_from" value="1" />
    <add key="Weight_to" value="2000" />
    <add key="Weight_from_to_minimum" value="1" />
    <add key="Weight_from_to_maximum" value="5000" />
    
    
    <!--ITA Language -->
    <!-- Panel menu -->
    <add key="label_title" value="Balance Game"/>
    <add key="button_text_exit" value="Esci"/>
    <add key="button_text_start" value="Inizia"/>
    <add key="button_text_options" value="Opzioni"/>
    
    <!-- Panel Options -->
    <add key="label_title_options" value="Opzioni"/>
    <add key="label_language" value="Lingua"/>
    <add key="label_weightrange" value="Range dei pesi"/>
    <add key="label_rangefrom" value="Da"/>
    <add key="label_rangeto" value="a"/>
    <add key="label_background_color" value="Colore di sfondo"/>
    <add key="button_text_resetsettings" value="Reimposta"/>
    
    <!-- Panel Information -->
    <add key="label_information" value="Informazioni"/>
    
    <!-- Form Information-->
    <add key="label_information_title" value="Balance Game"/>
    <add key="info_text1" value="Questo gioco è stato creato da Davide Orengo e Giorgio Demarzi. \nA.A 20-21 corso Human Computer Interaction"/>
    <add key="info_text2" value="Contattaci se hai problemi con il gioco"/>
    <add key="info_text3" value="Non dimenticarti di condividere il progetto e di supportarci con una donazione!"/>
    <add key="contacts_label" value="Contatti"/>
    <add key="label_email" value="email@email.com"/>
    <add key="caption_information" value="Informazioni sul gioco"/>
    
    <!-- Panel Game -->
    <add key="button_text_returnmenu" value="MENU PRINCIPALE"/>
    <add key="button_text_newweight" value="NUOVO PESO"/>
    <add key="button_text_clear" value="PULISCI PIATTO"/>
    <add key="button_text_tutorial" value="Guida"/>
    <add key="textbox_weight" value="PESI (grammi)"/>
    
    <!-- Messages -->
    <add key="exiting_without_saving_message" value="Sei sicuro di voler ritornare al menù principale senza salvare? Ogni cambiamento fatto non sarà mantenuto al prossimo riavvio."/>
    <add key="exiting_without_saving_caption" value="Esci senza salvare"/>
    <add key="exit_game_message" value="Sei sicuro di voler chiudere il gioco?"/>
    <add key="exit_game_caption" value="Chiudi il gioco"/>
    <add key="saving_message" value="Le modifiche saranno effettive solo dopo aver riavviato il gioco"/>
    <add key="saving_caption" value="Attenzione"/>
    <add key="finish_game_message" value="Grande! Il peso è {0}g!\nClicca YES per riavviare la partita con nuovo peso oppure clicca NO se vuoi ritornare al menù principale."/>
    <add key="finish_game_caption" value="Fine del gioco"/>
    
    <!-- Tutorial -->
    <add key="tutorial_text_intro_default" value="Benvenuto in Balance Game!\n\nIl tuo obiettivo è di misurare il peso in grammi di un oggetto sconosciuto.\n\n\n\n\n\n\nSe vuoi puoi chiudere questo tutorial cliccando sul tasto Skip in basso, altrimenti continua con Next."/>
    <add key="tutorial_text_page1" value="Devi mettere sul piatto destro della bilancia i pesi disponibili nel menù a lato.\n\nPer mettere un peso sul piatto,\ndevicliccare quello che desideri\ne poi clicca sulla freccia verde che\napparirà a lato del peso.\n\nPer rimuovere un peso dal piatto\ndevi selezionare il peso voluto\ne cliccare sulla freccia rossa."/>
    <add key="tutorial_text_page2" value="Mettendo i pesi sul piatto, l'indicatore della bilancia si muoverà. L'obiettivo è far si che l'indicatore raggiunga il centro.\n\nIn questo modo i due piatti saranno perfettamente bilanciati e tu saprai il peso dell'oggetto sconosicuto!"/>
    <add key="tutorial_text_page3" value="Sotto la bilancia ci sono quattro bottoni.\nDa sinistra a destra:\n\nMenù principale: ritorno al menù principale.\nNuovo peso: cambia il peso dell'oggetto sconosciuto.\nClear: rimuove tutti i pesi dal piatto.\nUndo: rimuove l'ultimo peso inserito sul piatto di destra."/>
    <add key="tutorial_text_page4" value="Il tutorial è finito!\n\nAdesso puoi chiudere questa finestra\n\nBuon divertimento!!"/>
    
  </appSettings>
</configuration>