<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Version" value="11" />
    <add key="Owner" value="Orengo-Demarzi" />
    <add key="Height" value="1920" />
    <add key="Width" value="1080" />
    <add key="Lang" value="EN" />
    
    
    
  </appSettings>
</configuration>
