<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Version" value="11" />
    <add key="Owner" value="Orengo-Demarzi" />
    <add key="Height" value="1920" />
    <add key="Width" value="1080" />
    <add key="Default_conf" value="False" />
    <add key="debug_mode" value="False" />
    <add key="Lang" value="Italiano" />
    <add key="BackColor" value="Blue" />
    <add key="Weight_from" value="1" />
    <add key="Weight_to" value="2000" />
    <add key="Weight_from_to_minimum" value="1" />
    <add key="Weight_from_to_maximum" value="20000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    
    <!--ITA Language -->
    <!-- Panel menu -->
    <add key="label_title" value="Balance Game"/>
    <add key="button_text_exit" value="Esci"/>
    <add key="button_text_start" value="Inizia"/>
    <add key="button_text_options" value="Opzioni"/>
    
    <!-- Panel Options -->
    <add key="label_title_options" value="Opzioni"/>
    <add key="label_language" value="Lingua"/>
    <add key="label_weightrange" value="Range dei pesi"/>
    <add key="label_rangefrom" value="Da"/>
    <add key="label_rangeto" value="a"/>
    <add key="label_background_color" value="Colore di sfondo"/>
    <add key="button_text_resetsettings" value="Reimposta"/>
    
    <!-- Panel Information -->
    <add key="label_information" value="Informazioni"/>
    
    <!-- Form Information-->
    <add key="label_information_title" value="Balance Game"/>
    <add key="info_text1" value="Questo gioco è stato creato da Davide Orengo e Giorgio Demarzi. \nA.A 20-21 corso Human Computer Interaction"/>
    <add key="info_text2" value="Contattaci se hai problemi con il gioco"/>
    <add key="info_text3" value="Non dimenticarti di condividere il progetto e di supportarci con una donazione!"/>
    <add key="contacts_label" value="Contatti"/>
    <add key="label_email" value="email@email.com"/>
    <add key="caption_information" value="Informazioni sul gioco"/>
    
    <!-- Panel Game-->
    <add key="button_text_returnmenu" value="MENU PRINCIPALE"/>
    <add key="button_text_newweight" value="NUOVO PESO"/>
    <add key="button_text_clear" value="PULISCI PIATTO"/>
    <add key="button_text_tutorial" value="Guida"/>
    <add key="textbox_weight" value="PESI (grammi)"/>
    
  </appSettings>
</configuration>